{% extends "base.html" %}

{% block content %}

<section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
        <li>Admin</li>
        <li>Dashboard</li>
        </ul>
    </div>
</section>

<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
        👋 Welcome to DyslexiMate
        </h1>
    </div>
</section>

<section class="section main-section">

    <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
      <div class="card">
        <div class="card-content">
          <div class="flex items-center justify-between">
            <div class="widget-label">
              <h3>
                Users
              </h3>
              <h1>
                {{ usersCount }}
              </h1>
            </div>
            <span class="icon widget-icon text-green-500"><i class="mdi mdi-account-multiple mdi-48px"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="flex items-center justify-between">
            <div class="widget-label">
              <h3>
                Total Conversions
              </h3>
              <h1>
                {{ total_conversions }}
              </h1>
            </div>
           <span class="icon widget-icon text-blue-500"><i class="mdi mdi-content-paste mdi-48px"></i></span>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="flex items-center justify-between">
            <div class="widget-label">
              <h3>
                Books 
              </h3>
              <h1>
                {{ books }}
              </h1>
            </div>
            <span class="icon widget-icon text-red-500"><i class="mdi mdi-book mdi-48px"></i></span>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-6">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-finance"></i></span>
          System Overview
        </p>
        <a href="#" class="card-header-icon">
          <span class="icon"><i class="mdi mdi-reload"></i></span>
        </a>
      </header>
      <div class="card-content">
        <div class="chart-area">
          <div class="h-full">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div></div>
              </div>
            </div>
            <canvas id="casesChart" width="2992" height="1000" class="chartjs-render-monitor block" style="height: 400px; width: 1197px;"></canvas>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    // Chart.js script
    const studentsCount = {{ studentsCount|default:0 }};
    const instructorsCount = {{ instructorsCount|default:0 }};
    const publishersCount = {{ publishersCount|default:0 }};
    const usersCount = {{ usersCount|default:0 }};

    const ctx = document.getElementById('casesChart').getContext('2d');
    new Chart(ctx, {
        type: 'bar',  // Changed to Bar Chart
        data: {
        labels: ['Total Users', 'Students', 'Instructors', 'Publishers'],
        datasets: [{
            label: 'System Users',
            data: [usersCount, studentsCount, instructorsCount, publishersCount],
            backgroundColor: ['#3498db', '#e74c3c', '#f1c40f', 'green'],
            borderWidth: 1
        }]
        },
        options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            y: {
            beginAtZero: true
            }
        }
        }
    });

</script>

{% endblock %}
