{% extends "base.html" %}

{% block content %}

<section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
        <li>Admin</li>
        <li>Dashboard</li>
        </ul>
    </div>
</section>

<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
        👋 Welcome to DyslexiMate
        </h1>
    </div>
</section>

<div class="pt-0">
    <h2 class="font-bold text-2xl text-green-600" >System Overview</h2><br>
    <div class="card">
        <div class="chart-container" >
        <canvas id="casesChart"></canvas>
    </div>
</div>



<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    // Chart.js script
    const studentsCount = {{ studentsCount|default:0 }};
    const instructorsCount = {{ instructorsCount|default:0 }};
    const publishersCount = {{ publishersCount|default:0 }};
    const usersCount = {{ usersCount|default:0 }};

    const ctx = document.getElementById('casesChart').getContext('2d');
    new Chart(ctx, {
        type: 'bar',  // Changed to Bar Chart
        data: {
        labels: ['Total Users', 'Students', 'Instructors', 'Publishers'],
        datasets: [{
            label: 'System Metrics',
            data: [usersCount, studentsCount, instructorsCount, publishersCount],
            backgroundColor: ['#3498db', '#e74c3c', '#f1c40f', 'green'],
            borderWidth: 1
        }]
        },
        options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            y: {
            beginAtZero: true
            }
        }
        }
    });

</script>

{% endblock %}
